/* scaled size */
.book-container {
    width: 292px;
    height: 360px;
}

.book-page {
    transform: scale(2);
    transform-origin: left top;
    image-rendering: pixelated;
    position: relative;
    color: black;
    -webkit-user-select: none;
    user-select: none;
    width: 146px;
    height: 180px;
    background: url('./assets/textures/book/background.png') no-repeat left top;
}

.book-text {
    font-family: "Minecraft", serif;
    font-size: 10px;
}

.book-page-counter {
    position: absolute;
    right: 19px;
    top: 12px;
    text-align: right;
}

.book-text-content {
    position: absolute;
    left: 15px;
    top: 29px;
    width: 114px;
    line-height: 0.9;
    max-height: calc(0.9em * 14); /* 14 lines */
    overflow: hidden;
    white-space: preserve;
    word-break: break-word;
    user-select: text;
}

.book-forward {
    bottom: 11px;
    right: 27px;
    width: 23px;
    height: 13px;
    background: url('./assets/textures/book/page_forward.png') no-repeat left top;
}

.book-info {
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-size: auto;
    background: url('./assets/textures/book/info.png') no-repeat;
    width: 20px;
    height: 20px;
    transform: scale(0.5);
    transform-origin: right bottom;
}

.book-backward {
    bottom: 11px;
    left: 27px;
    width: 23px;
    height: 13px;
    background: url('./assets/textures/book/page_backward.png') no-repeat left top;
}

.book-button {
    position: absolute;
}

.book-button:hover {
    background-position: 0 -13px;
}

.item-tooltip-container {
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-size: auto;
    background: url('./assets/textures/book/info.png') no-repeat;
    image-rendering: pixelated;
    color: black;
    -webkit-user-select: none;
    user-select: none;
    width: 140px;
    height: fit-content;
    overflow: visible;
}

.item-tooltip {
    width: fit-content;
    height: fit-content;
    border: 8px solid transparent;
    border-image-source: url(./assets/textures/tooltip/background.png);
    border-image-slice: 28 fill;
    border-image-repeat: stretch;
    image-rendering: pixelated;
    z-index: 20;
}

.item-tooltip-text {
    font-family: "Minecraft", serif;
    font-size: 10px;
    line-height: 0.9;
    user-select: none;
    white-space: preserve;
    overflow: hidden;
    margin: -4px;
    color: #c6b3b3;
    filter: drop-shadow(1px 1px color-mix(in srgb, currentcolor , black));
}
